

@font-face{
    font-family: 'roboto';
    src: url('../webfonts/Roboto-Regular-webfont.eot');
    src: url('../webfonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/Roboto-Regular-webfont.woff2') format('woff2'),
    url('../webfonts/Roboto-Regular-webfont.woff') format('woff'),
    url('../webfonts/Roboto-Regular-webfont.ttf') format('truetype'),
    url('../webfonts/Roboto-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

