
header{
    /*border: 2px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 130px;
    overflow: hidden;

}

#logo img{
    width: 350px;
    height: auto;
}

header ul {
    display: flex;
    list-style: none;
    
}

header li{
    margin-left: 3em;
}

header a{
text-decoration: none;
color: white;
}