
/*import des différents css*/

@import "./fonts.css";
@import "./header.css";
@import "./section.css";
@import "./footer.css";

/*Eléments principaux*/
html{
    background:white;

}


body{
    max-width: 1200px;
    max-height: auto;
    background-color: white;
    font-family: 'roboto';
    font-size: 16px;
    color: black;
    margin: auto;
}

